{% extends "authentication/base.html" %}

{% load static %}

{% block addCss %}
	<link rel="stylesheet" type = "text/css" href="{% static 'authentication/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'authentication/Btn.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'authentication/Title.css' %}">
{% endblock addCss %}

{% block title %}
	chats
{% endblock title %}
	
{% block body %}
	
	<div id="title">
		<h1>messenger</h1>
		<p>An Interactive Chat Web App made using Django framework<p>
	</div>

	<div class = "join" id="login">
		<a href="{% url 'auth-login' %}">
			<div id="content_login" onclick="expand_join_div('content_login')">
				<h4>login</h4>
				{% comment %} <p>your friends are waiting</p> {% endcomment %}
			</div>
		</a>
	</div>
			
	<div class = "join" id="signup">
		<a href="{% url 'auth-signup' %}">
			<div id="content_signup" onclick="expand_join_div('content_signup')">
				<h4>signup</h4>
				{% comment %} <p>and join your friends</p> {% endcomment %}
			</div>
		</a>
	</div>
{% endblock body %}