{% extends "authentication/formHolder.html" %}
{% load static %}	

{% block addCssForm %}
	<link rel="stylesheet" type="text/css" href="{% static 'authentication/form.css' %}">
{% endblock addCssForm %}

{% block form %}
	
	<form id="form" method="post">
		{% if messages %}
			<ul class='errorlist'>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<div id="greeting">
			<h2>Welcome back!</h2>
			<p>Your friends are waiting!!</p>
		</div>
		{% csrf_token %}
		{{ form }}
		<button type="submit">Login</button>
	</form>
{% endblock form %}
