#AuthRoot{
	background-image:url(./images/formBackground.jpg);
}

#formHolder{
	height: 90vh;
	justify-content:center;
	display:flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	padding-top:70px;
	align-items: center;
}

@media screen and (min-height: 768px){
	#form{
		margin-top:50px;
	}
}

@media screen and (min-height: 1024px){
	#form{
		margin-top:350px;
		background-origin: 100px;
	}
}

@media screen and (min-height: 1366px){
	#form{
		margin-top:420px;
	}
}

