{% extends 'chat/base.html' %}
{% load static %}

{% block addCss %}
	<link rel="stylesheet" type="text/css" href="{% static 'chat/userHome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'chat/userHomeNavBar.css' %}">
{% endblock addCss %}

{% block navLogo %}
	<li><a href="{% url 'chat-userHome' %}"><img src= "{% static 'chat/images/logo.png' %}" alt="chatting_django"></a></li>
{% endblock navLogo %}

{% block navLoginLogout %}
	<li><a href="{% url 'auth-logout' %}"><img src="{% static 'chat/images/logout.png' %}"></a></li>
{% endblock navLoginLogout %}

{% block body %}
	<div id="chatRoot" current-user="{{ request.user.username }}" current-chat-window="" get-message-url="{% url 'chatsDB-get' %}" check-new-message="{% url 'chatsDB-check' %}">
		<div class="hideScrollBar" id="sideBar" >
			<form novalidate id="searchInput" method="get" search-url="{% url 'chat-search-user' %}" >
				{% csrf_token %}
				{{search}}
			</form>
			<div id="chats" class="sideBarContent">
				<ul></ul>
			</div>
			<div id="contacts" class="sideBarContent">
				<ul>
					{% for contact in contacts %}
						<li username="{{contact.contact.username}}" onclick="setCurrentChatWindow(event)"  class="addShadowSearch">
							<img src="{{ contact.contact.profile.profile_picture.url }}">
							<div class="outer">
								<h1>{{ contact.contact.username }}</h1>
								<p>{{ contact.last_message.message }}</p>
								<div class="inner">
									<a>view profile</a>
									{% if contact.unread_messages %}
										<p>{{ contact.unread_messages }}</p>
									{% endif %}
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div id='messageArea'>
			<div id="messages" class="hideScrollBar">
				<ul class="hideScrollBar"></ul>
			</div>
			<div id="textareaHolder">
				<form novalidate id="messageTypeArea" send-to="{% url 'chatsDB-send' %}" >
					{% csrf_token %}
					{{ send_message_form }}
					<button class="addShadow" type=submit></button>
				</form>
			</div>
		</div>
	</div>

{% endblock body %}

{% block addScript %}
	<script src="{% static 'chat/javascript/userHome.js' %}"></script>
{% endblock addScript %}