#AppRoot {
  background-color: rgb(30, 30, 30);
  height: 100vh;
  background-size: auto;
  background-position: center;
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.09fr 1fr;
  grid-template-areas: 'navigationBar chatRoot';
}

#navBar {
  grid-area: navigationBar;
}

/* #navigationSlider{
	position: absolute;
	right:20px;
	width:20px;
	height:20px;
	border-style:none;
	background:url(./images/navigationSlider.png);
	background-size:100% 100%;
	transition: transform .3s;
	outline:none;
} */

#chatRoot {
  grid-area: chatRoot;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(300px, 0.36fr) 1fr;
  grid-template-areas: 'sideBar messageArea';
}

#sideBar {
  grid-area: sideBar;
  width: 100%;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  padding-top: 7px;
  scrollbar-width: none;
}

#messageArea {
  grid-area: messageArea;
  background-color: rgb(50, 50, 50);
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-rows: 0.95fr 0.05fr;
  grid-template-areas:
    'display'
    'textAreaHolder';
}

#searchInput {
  padding: 5px 0px 5px 10px;
  width: 100%;
}

#searchInput input[type='text'] {
  background-image: url(./images/search.png);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: 5px 10px;
  width: 92%;
  height: 90px;
  margin: 0 3px 0 3px;
  border-style: none;
  border-radius: 12px;
  padding: 0px 0px 0px 0px;
  font-family: Yanone Kaffeesatz;
  color: rgb(206, 206, 206);
  font-size: 17px;
  text-align: center;
  background-color: rgb(50, 50, 50);
  outline: none;
  transition: all 0.25s linear;
  box-shadow: 0 0 10px rgb(20, 20, 20);
}

#searchInput input[type='text']:focus::-webkit-input-placeholder {
  color: rgb(60, 60, 60);
}

#searchInput input[type='text']::-webkit-input-placeholder {
  color: rgb(206, 206, 206);
}

#searchInput input[type='text']:focus::-moz-placeholder {
  opacity: 1;
  color: rgb(60, 60, 60);
}

#searchInput input[type='text']::-moz-placeholder {
  opacity: 1;
  color: rgb(206, 206, 206);
}

#searchInput input[type='text']:focus {
  color: rgb(40, 40, 40);
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 50px black;
}

#searchInput input[type='text']:blur {
  color: rgb(206, 206, 206);
  background-color: grey;
  height: 70px;
}

.sideBarContent {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.sideBarContent ul {
  padding: 20px 0px 10px 10px;
  list-style: none;
  width: 95%;
  min-width: 90%;
}

.sideBarContent ul li {
  cursor: pointer;
  color: rgb(206, 206, 206);
  padding: 5px 0px 0px 5px;
  height: 90px;
  background-color: rgb(50, 50, 50);
  margin: 0px 7px 10px 2px;
  border-radius: 12px;
  display: grid;
  transition: all 0.1s linear;
  grid-template-columns: 0.25fr 1fr;
  grid-template-areas: 'image username';
}

.sideBarContent ul .selectedChatWindow {
  background-color: rgb(90, 90, 90);
}

.sideBarContent ul .noResult {
  margin-top: 20px;
  color: rgb(30, 30, 30);
  font-family: Yanone Kaffeesatz;
  font-size: 18px;
  background-color: grey;
  border-radius: 12px;
  height: 24px;
  padding-top: 6px;
  text-align: center;
}

.sideBarContent ul li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
  grid-area: image;
}

.sideBarContent ul li .outer {
  grid-area: username;
  padding-top: 10px;
  padding-left: 5px;
  color: rgb(206, 206, 206);
  font-family: Yanone Kaffeesatz;
  font-size: 18px;
}

.sideBarContent ul li .outer h1 {
  padding-bottom: 5px;
  font-size: 20px;
}

.sideBarContent ul li .outer p {
  padding-bottom: 8px;
  line-height: 1.2;
  font-size: 15px;
  overflow: hidden hidden;
  text-overflow: ellipsis;
  max-height: 8px;
  max-width: 80%;
}

.sideBarContent ul li .outer .inner {
  display: flex;
  flex-flow: row-reverse;
  padding-top: 10px;
  width: 100%;
}

.sideBarContent ul li .outer .inner p {
  background-color: rgb(189, 232, 176);
  margin-right: 10px;
  height: 30px;
  width: 20px;
  font-family: Yanone Kaffeesatz;
  border-radius: 50%;
  color: rgb(60, 60, 60);
  text-align: center;
  padding: 6px 0 6px 0;
  line-height: 0.5;
}

.sideBarContent ul li .outer .inner a {
  text-decoration: none;
  color: black;
  height: 18%;
  margin-right: 10px;
  background-color: rgb(189, 232, 176);
  padding: 3px 5px 3px 5px;
  font-size: 13px;
  border-radius: 5px;
  color: rgb(60, 60, 60);
  cursor: pointer;
}

.sideBarContent ul li .outer .inner .report {
  background-color: rgb(255, 84, 84);
  color: black;
}

/* ================================================================================= */

#messages {
  max-height: 100%;
  width: 100%;
  grid-area: display;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}

#messages ul {
  list-style: none;
  height: auto;
  overflow: auto;
  padding: 10px 50px 30px 50px;
  scrollbar-width: none;
}

#messages ul li {
  background-color: rgb(104, 153, 232);
  max-width: 40%;
  margin: 10px 10px 10px 10px;
  padding: 5px 8px 5px 8px;
  border-radius: 8px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 17px;
  box-shadow: 0 0 10px rgb(20, 20, 20);
  display: table;
}

#messages ul .sent {
  background-color: rgb(104, 153, 232);
  text-align: right;
  margin-left: auto;
}

#messages ul .received {
  background-color: rgb(255, 255, 255);
  text-align: left;
  margin-right: auto;
}

#textareaHolder {
  grid-area: textAreaHolder;
  width: 100%;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s linear;
  box-shadow: 0px -4px 10px rgb(35, 35, 35);
}

#messageTypeArea textarea {
  height: 20px;
  width: calc(100% - 150px);
  padding: 10px 5px 5px 60px;
  border-style: none;
  font-family: Yanone Kaffeesatz;
  font-size: 20px;
  outline: none;
  resize: none;
  background-color: rgb(50, 50, 50);
  color: white;
}

#messageTypeArea textarea:invalid {
  outline: none;
  box-shadow: none;
}

#messageTypeArea button {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: rgb(70, 116, 191);
  border-style: hidden;
  outline: none;
  background-image: url(./images/sendIcon.png);
  background-size: 20px 20px;
  background-position: 7px 5px;
  background-repeat: no-repeat;
}

/* ================================================================================= */

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.flip {
  transform: rotate(-180deg);
}

.addShadow {
  box-shadow: 0px 0px 10px rgb(50, 50, 50);
}

.addShadowSearch {
  box-shadow: 0 0 10px rgb(20, 20, 20);
}
/* ================================================================================= */

@media screen and (max-width: 475) {
  #chatRoot {
    grid-template-areas: 'chatRoot chatRoot';
  }
}
